* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  text-align: center;
  padding-bottom: 10px;
}

.wrapper {
  margin: 0 auto;
  max-width: 500px;
  max-height: 600px;
  background-color: aquamarine;
}

.wrapper-top {
max-width: auto;
height: 125px;
background-color: rgb(187, 207, 203);
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-content: center;
}

.wrapper-field {
  width: auto;
  height: 500px;
  background-color: rgb(95, 97, 96);
  display: grid;
  grid-template-columns: repeat(10, 50px);
}

.wrapper-field-medium {
  width: auto;
  height: 750px;
  background-color: rgb(95, 97, 96);
  display: grid;
  grid-template-columns: repeat(15, 50px);
}

.wrapper-medium {
  margin: 0 auto;
  max-width: 750px;
  max-height: 850px;
  background-color: aquamarine;
}

.wrapper-field-hard {
  width: auto;
  height: 1250px;
  background-color: rgb(95, 97, 96);
  display: grid;
  grid-template-columns: repeat(25, 50px);
}

.wrapper-hard {
  margin: 0 auto;
  max-width: 1250px;
  max-height: 1350px;
  background-color: aquamarine;
}

button {
  height: 50px;
  /* background-color: black; */
  font-size: 24px;
}

.on {
 background-image: url(assets/img/Bomb.png);
 background-position: center;
 background-size: cover;
}

.flag {
  background-color: aquamarine;
}

.mines {
  width: 130px;
  height: 100px;
  background-color: antiquewhite;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-game {
  width: 130px;
  height: 100px;
  font-size: 24px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.time {
  width: 130px;
  height: 100px;
  font-size: 24px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar{
  /* padding-bottom: 20px; */
  margin: 0 auto;
  max-width: 900px;
  height: 100px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.sound{
  width: 70px;
  height: 70px;
  background-image: url(./assets/img/play3.png);
  background-position: center;
  background-size: cover;
}
.level-div {
display: flex;
flex-wrap: wrap;
flex-direction: column;
row-gap: 5px;
}

.level {
  background-image: url(./assets/img/1-в-кружке.png);
  background-position: center;
  background-size: cover;
  width: 50px;
  height: 50px;
}

.level1 {
  background-image: url(./assets/img/1-в-кружке.png);
  background-position: center;
  background-size: cover;
}

.level2 {
  background-image: url(./assets/img/2-в-кружке.png);
  background-position: center;
  background-size: cover;
}

.level3 {
  background-image: url(./assets/img/3-в-кружке.png);
  background-position: center;
  background-size: cover;
}

.mines-number {
  background-color: azure;
  width: 50px;
  height: 30px;
}

.change-mines {
  width: 50px;
  height: 50px;
  background-image: url(./assets/img/apply.png);
  background-position: center;
  background-size: cover;
}

.dark-light {
  background-image: url(./assets/img/dark-light.png);
  background-position: center;
  background-size: cover;
  width: 80px;
  height: 70px;
}

.sound-stop {
  background-image: url(./assets/img/stop.png);
}

.one {
  color: blue;
}

.two {
  color: green;
}

.three {
  color: red;
}

.four {
  color: black;
}

.five {
  color: gold;
}

.result-hide {
  display: none;
}

.result {
  display: block;
  /* display: inline-block;
  background-color: aqua;
  width: 70px;
  height: 70px; */
  background-color: rgb(187, 207, 203);
  width: 210px;
  height: 210px;
  display: flex;
  flex-direction: column;
}

.black {
  background-color: rgb(68, 69, 69);
}

.save-button {
  background-color: aqua;
  width: 70px;
  height: 70px;
}

.save-button:first-child {
  margin-left:  100px;
}

.button-medium {
  height: 50px;
}

.footer {
  height: 100px;
  /* background-color: black; */
  margin-top: 50px;
}

@media only screen and (max-width: 1267px) {

  .wrapper-field-hard{
    height: 500px;
    grid-template-columns: repeat(25, 20px);
  }

  .wrapper-hard  {
    max-width: 500px;
  }

  .button-hard {
    height: 20px;
    font-size: 80%;
  }

}

@media only screen and (max-width: 800px) {

  .wrapper-field-medium{
    height: 450px;
    grid-template-columns: repeat(15, 30px);
  }

  .wrapper-medium  {
    max-width: 450px;
  }

  .button-medium {
    height: 30px;
    font-size: 80%;
  }

}

@media only screen and (max-width: 550px) {

  .wrapper-field {
    height: 300px;
    grid-template-columns: repeat(10, 30px);
  }

  button {
    height: 30px;
    font-size: 80%; 
  }

  .wrapper {
    max-width: 300px;
    max-height: 400px;
   
  }

  .navbar{
    padding-bottom: 20px;
  }

  .mines {
  width: 100px;
  height: 70px;
  }

  .time{
    width: 100px;
    height: 70px;
  }

  .new-game{
    width: 100px;
    height: 70px;
  }
}