* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
@font-face {
  font-family: "georgia";
  src: url(/egorca6-JSFE2023Q1/shelter/assets/fonts/fonts/georgia/georgia-regular.ttf)
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "arial";
  src: url(/egorca6-JSFE2023Q1/shelter/assets/fonts/fonts/arial/arial-regular.ttf)
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  background: #ffffff;
  font-family: "georgia";
  font-style: normal;
  color: #545454;
}
/* Header styles start */ /* Header styles start */ /* Header styles start */
header {
  position: absolute;
  height: 60px;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 30px;
  z-index: 1;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  max-height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header_list {
  display: flex;
  flex-wrap: wrap;
}
.header_item {
  padding-right: 35px;
}
.header_item:last-child {
  padding-right: 0;
}
.h1 {
  padding-bottom: 10px;
}
.logo_link {
  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #f1cdb3;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.sub_link {
  font-family: "arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  padding-top: 10px;
  padding-left: 3px;
  color: #ffffff;
  text-decoration: none;
}
.header_link {
  font-family: "arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
}
.header_item:first-child .header_link:first-child {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 3px;
}
ul {
  list-style-type: none;
}
.header_link:active {
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 3px;
}
.header_link:hover {
  color: #fafafa;
}

.subtitle {
  display: flex;
  align-items: center;
}

/* Header styles end */ /* Header styles end */ /* Header styles end */

/* Home  screen styles start */ /* Home  screen styles start */

.start_screen {
  height: 908px;
  left: 0%;
  right: 0%;
  top: 0px;
  background-image: url(/egorca6-JSFE2023Q1/shelter/assets/images/noise_transparent@2x.png),
    radial-gradient(100% 900% at 0% 0%, #5b483a 0%, #262425 100%),
    linear-gradient(0deg, #211f20, #211f20);
}
.start_screen_content {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content {
  padding-top: 163px;
  max-width: 460px;
}
.not_only {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
  padding-bottom: 42px;
}
.content_text {
  padding-bottom: 42px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}
button {
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
}
button:hover {
  background: #fddcc4;
}
.make_friend {
  text-decoration: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
}

img {
  width: 698px;
  height: 728px;
}
/* Home screen styles end */ /* Home  screen styles end */ /* Home  screen styles end */

/* About start */ /* About start */ /* About start */
.about {
  height: 588px;
  background: #ffffff;
}
.about_img {
  width: 300px;
  height: 408px;
}
.about_wrapper {
  margin: 0 auto;
  max-width: 850px;
  max-height: 408px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}
.about_content {
  max-width: 430px;
  /* max-height: 380px; */
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.about_white {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}

/* About end */ /* About end  */ /* About end  */
