* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
@font-face {
  font-family: "georgia";
  src: url(/egorca6-JSFE2023Q1/shelter/assets/fonts/fonts/georgia/georgia-regular.ttf)
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "arial";
  src: url(/egorca6-JSFE2023Q1/shelter/assets/fonts/fonts/arial/arial-regular.ttf)
    format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "arial";
  src: url(/egorca6-JSFE2023Q1/shelter/assets/fonts/fonts/arial/arial-italic.ttf)
    format("truetype");
  font-style: italic;
  font-weight: normal;
}
html {
  scroll-behavior: smooth;
}

body {
  /* background: #f6f6f6; */
  font-family: "georgia";
  font-style: normal;
  color: #545454;
}
.a_simple {
  text-decoration: none;
}
h4 .a_simple {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

/* Header styles start */ /* Header styles start */ /* Header styles start */
header {
  position: absolute;
  height: 60px;
  left: 0;
  top: 0;
  width: 100%;
  padding-top: 30px;
  z-index: 1;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  max-height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header_list {
  display: flex;
  flex-wrap: wrap;
}
.header_item {
  padding-right: 35px;
}
.header_item:last-child {
  padding-right: 0;
}
.h1 {
  padding-bottom: 10px;
}
.logo_link {
  font-family: "georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #f1cdb3;
  letter-spacing: 0.06em;
  text-decoration: none;
}

.sub_link {
  font-family: "arial";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  padding-top: 10px;
  padding-left: 3px;
  color: #ffffff;
  text-decoration: none;
}
.header_link {
  font-family: "arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}
.header_item:first-child .header_link:first-child {
  color: #fafafa;
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 3px;
}
ul {
  list-style-type: none;
}
.header_link:active {
  border-bottom: 3px solid #f1cdb3;
  padding-bottom: 3px;
}
.header_list {
  padding-bottom: 1.5px;
}
.header_link:hover {
  color: #fafafa;
}

.subtitle {
  display: flex;
  align-items: center;
}

/* Header styles end */ /* Header styles end */ /* Header styles end */

/* Home  screen styles start */ /* Home  screen styles start */

.start_screen {
  height: 908px;
  /* min-width: 1280px; */
  max-width: 100vw;
  background-image: url(/egorca6-JSFE2023Q1/shelter/assets/images/noise_transparent@2x.png),
    radial-gradient(100% 900% at 0% 0%, #5b483a 0%, #262425 100%),
    linear-gradient(0deg, #211f20, #211f20);
}
.start_screen_content {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 180px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.content {
  padding-top: 163px;
  /* max-width: 460px; */
  max-height: 322px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.not_only {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
}
.content_text {
  max-width: 460px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}
.button_make {
  width: 207px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  text-decoration: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}
.button_make:hover {
  background: #fddcc4;
}

.img_puppy {
  max-width: 698px;
  max-height: 728px;
}
/* Home screen styles end */ /* Home  screen styles end */ /* Home  screen styles end */

/* About start */ /* About start */ /* About start */
.about {
  height: 588px;
  min-width: 1280px;
  background: #ffffff;
}
.about_img {
  width: 300px;
  height: 408px;
}
.about_wrapper {
  margin: 0 auto;
  max-width: 850px;
  max-height: 408px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
}
.about_content {
  max-width: 430px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.about_white {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4c4c4c;
}

/* About end */ /* About end  */ /* About end  */

/* Pets Start */ /* Pets Start*/
.pets {
  background: #f6f6f6;
  min-width: 1280px;
  height: 877px;
}
.pets_wrapper {
  margin: 0 auto;
  max-width: 1280px;
  height: 697px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.pets_our {
  width: 400px;
  height: 90px;
  display: flex;
  text-align: center;
}
.slider {
  width: 1200px;
  height: 435px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.card_wrapper {
  width: 990px;
  height: 435px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.button_arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background: #f6f6f6;
  transition: background-color 0.5s ease-in-out;
}
.button_arrow:hover {
  background: #fddcc4;
  cursor: pointer;
}
.button_arrow:first-child:hover {
  border: 2px solid #cdcdcd;
  border-radius: 100px;
  background: #f6f6f6;
}

.arrow_left {
  width: 14px;
  height: 6px;
  padding: 23px 19px;
}

.arrow_rigth {
  width: 14px;
  height: 6px;
  padding: 23px 19px;
  transform: rotate(-180deg);
}
.card {
  max-width: 270px;
  max-height: 435px;
  background: #fafafa;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color 0.5s ease-in-out;
}
.card_pets {
  width: 270px;
  height: 270px;
  padding-bottom: 30px;
}
.card:hover {
  cursor: pointer;
  background-color: #ffffff;
}
.card:hover .learn_more {
  background: #f1cdb3;
}

.h4_card {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  padding-bottom: 30px;
}
.learn_more {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  width: 187px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  background: #fafafa;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.button_get {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  width: 261px;
  height: 52px;
  background: #f1cdb3;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
}

.button_get:hover {
  background: #fddcc4;
}
.learn_more:hover {
  background: #fddcc4;
}
/* Pets end */ /* Pets end */

/* Help start */
.help {
  background: #ffffff;
  min-width: 1280px;
  height: 611px;
}
.help_wrapper {
  margin: 0 auto;
  width: 1200px;
  height: 431px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.help_text {
  display: flex;
  text-align: center;
}
.help_content {
  width: 1026px;
  height: 281px;
}
.help_icon {
  width: 60px;
  height: 60px;
  padding-bottom: 30px;
}
h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}
.help_content {
  width: 1026px;
  height: 281px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.help_content_one {
  width: 1026px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.help_content_two {
  width: 858px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.pet_food {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
/* Help end */ /* Help end */

/* Donation start  */ /* Donation start  */
.donation {
  background: #f6f6f6;
  max-height: 462px;
  min-width: 1280px;
  padding-top: 80px;
  padding-bottom: 100px;
}
.donation_wrapper {
  margin: 0 auto;
  width: 915px;
  height: 282px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.donation_wrapper_content {
  width: 380px;
  height: 282px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.donation_img {
  max-width: 505px;
  max-height: 261px;
}
.donation_card {
  background: #f1cdb3;
  border-radius: 9px;
  width: 349px;
  height: 43px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.donation_card_img {
  max-width: 30px;
  max-height: 23px;
}
.donation_infomation {
  width: 380px;
  height: 72px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}
h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}
/* Donation end */ /* Donation end */

/* footer start  */ /* footer start  */
footer {
  height: 350px;
  min-width: 1280px;
  background-image: url(/egorca6-JSFE2023Q1/shelter/assets/images/noise_transparent@2x.png),
    radial-gradient(100% 900% at 0% 0%, #5b483a 0%, #262425 100%),
    linear-gradient(0deg, #211f20, #211f20);
}

.footer_wrapper {
  margin: 0 auto;
  max-width: 1200px;
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer_img {
  max-width: 300px;
  max-height: 310px;
  padding-top: 40px;
}
.footer_contacts {
  padding-top: 56px;
  width: 279px;
  height: 234px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.footer_location {
  padding-top: 56px;
  width: 302px;
  height: 234px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
.footer_mail {
  width: 251px;
  height: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.footer_boston {
  width: 302px;
  max-height: 46px;
}
.footer_h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  text-decoration: none;
  padding-left: 19.5px;
}
.footer_contacts_wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.footer_h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
}
/* footer end */ /* footer end */

@media only screen and (max-width: 768px) {
  .wrapper {
    max-width: 708px;
  }
  .img_puppy {
    max-width: 569px;
    max-height: 593px;
    padding-left: 145px;
  }
  .start_screen {
    min-width: 768px;
    min-height: 1015px;
  }
  .start_screen_content {
    min-width: 569px;
    min-height: 1015px;
    padding-top: 0px;
    gap: 100px;
    /* margin: 0 auto;
    display: flex;
    flex-wrap: wrap; */
    justify-content: center;
  }
  .content {
    padding-top: 150px;
    align-items: center;
    /* max-width: 460px; */
    min-height: 322px;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between; */
  }
  .content .not_only {
    align-self: flex-start;
  }
}
