* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: rgb(47, 50, 49);
}

.garage,
.winners {
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}
.winnersView {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.app-wrapper {
    width: 100vw;
    height: 1000px;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper,
.button-wrapper {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.input-wrapper input[type='text'],
.input-wrapper input[type='color'],
.input-wrapper button,
.button-wrapper button {
    margin-left: 10px;
    cursor: pointer;
}

.full-garage {
    color: aliceblue;
    margin-top: 40px;
    margin-left: 40px;
    font-size: 150%;
}
.page {
    color: aliceblue;
    font-size: larger;
    margin-left: 40px;
}

.car-wrapper {
    display: flex;
    flex-direction: column;
}
img {
    width: 100%;
}
.car1WrapperSelect {
    display: flex;
    max-width: 150px;
    justify-content: space-around;
}
.default-button {
    margin-left: 10px;
    height: 20px;
    cursor: pointer;
}

.car1Image {
    width: 70px;
    height: 70px;
}

.flag {
    width: 50px;
    height: 50px;
    transform: translateY(15px);
}
.car1WrapperImage {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.car1WrapperImg1 {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
.wrapperImg1 {
    position: relative;
}

.a-buttons,
.b-buttons {
    width: 30px;
    height: 30px;
}

.road {
    transform: translateY(-15px);
    border-top: 1px dotted rgb(253, 248, 248);
}
.prev,
.next {
    width: 50px;
    margin: 0 5px;
    border: none;
    cursor: pointer;
}
.nextPrevwrapper {
    margin-left: 200px;
    width: 120px;
    display: flex;
    justify-content: space-between;
}
h1 {
    margin-top: 0;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

.wrapperHeaders {
    display: flex;
    justify-content: space-between;
    background-color: #4caf50;
}
.wrapperCarInfo {
    display: flex;
    justify-content: space-between;
    column-gap: 90px;
}
.default-position {
    margin-left: 120px;
}

.styled-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
}
