* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: rgb(47, 50, 49);
}

.garage,
.winners {
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

.app-wrapper {
    width: 100vw;
    height: 1000px;
    /* background-color: rgb(228, 168, 168); */
}

/* новое */

.app-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper,
.button-wrapper {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.input-wrapper input[type='text'],
.input-wrapper input[type='color'],
.input-wrapper button,
.button-wrapper button {
    margin-left: 10px;
    cursor: pointer;
}
/* .input-wrapper input[type='color'] {
    background-color: rgb(122, 120, 120);
} */
.full-garage {
    margin-top: 40px;
    margin-left: 40px;
    font-size: 150%;
}
.page {
    margin-left: 40px;
}

.car-wrapper {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
img {
    width: 100%;
}
.car1WrapperSelect {
    display: flex;
    max-width: 150px;
    justify-content: space-around;
}
.default-button {
    /* margin-left: 20px; */
    cursor: pointer;
}
.car1Image {
    width: 70px;
    height: 70px;
    /* filter: opacity(0.5) drop-shadow(0 0 0 rgb(255, 0, 0)); */
    /* filter: invert(48%) sepia(53%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(500%); */
    /* filter: drop-shadow(0 0 0 rgb(255, 0, 0)); */
}

.flag {
    width: 50px;
    height: 50px;
    transform: translateY(15px);
}
.car1WrapperImage {
    margin-top: 10px;
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
    width: 80vw;
}

.car1WrapperImg1 {
    display: flex;
    margin-top: 10px;
    gap: 10px;
}

.AB-buttons {
    width: 30px;
    height: 30px;
}

.road {
    transform: translateY(-15px);
    border-top: 1px dotted rgb(253, 248, 248);
}

/* .road:before {
    content: '';
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: -2%;
    transform: translateY(-50%);
}  */
