* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.container {
    display: flex;
    width: 100vw;
    background: #2e2a23;
}

.section {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* flex-grow: 1; */
    padding: 20px;
}

.level-container {
    /* max-width: 500px; */
    /* flex-grow: 0.2; */
    background-color: #1b1813;
    height: 100vh;
}

.table-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    width: 350px;
    background-color: yellow;
    margin-bottom: 10px;
    transform: perspective(600px) rotateX(20deg);
    opacity: 1;
}

.help {
    background: none;
    cursor: pointer;
    border-bottom: black 1px solid;
}

@keyframes dance {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1) translate(5px, -5px);
    }
}

plate {
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2), inset 0px 2px 10px rgba(0, 0, 0, 0.2);
    animation: strobeStart 0.5s ease-out, strobe 1s infinite;
    animation: dance 1s infinite;
}

.light-on {
    box-shadow: 0px 0px 36px rgba(85, 79, 79, 0.695);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.buttonWrapper {
    display: flex;
}

.prevLvl,
.nextLvl,
.navbar-menu {
    width: 50px;
    height: 50px;
    font-size: 24px;
    background: none;
    cursor: pointer;
    color: #888;
}

.lvl-discription {
    display: block;
    width: 400px;
    padding-left: 50px;
    color: #888;
}

.lvlInfo {
    color: #888;
}

.input-container {
    display: flex;
    /* height: 350px; */
    width: 550px;
    margin-bottom: 10px;
}
.input-wrapper {
    width: 50%;
    background: #efefef;
    height: 410px;
}

.viewer-wrapper {
    width: 50%;
    background: #2b2b2b;
}

.footer {
    background-color: lightgray;
    height: 150px;
    width: 100vw;
}

h2 {
    font-size: 20px;
}

.hljs-section {
    color: rgb(185, 178, 168);
}

.light-on-text {
    color: white;
}

.modal {
    position: absolute;
    top: 25%;
    left: 30%;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}

.input-wrapper-header {
    display: flex;
    height: 30px;
    justify-content: space-around;
    column-gap: 100px;
    align-items: center;
    background-color: #49463f;
}

.input-wrapper-main,
.viewer-wrapper-main {
    display: flex;
    /* justify-content: space-between; */
}
.viewer-wrapper-main {
    flex-wrap: wrap;
}

.lineNumbers {
    width: 30px;
    background: #c4c3c362;
    text-align: center;
    padding-top: 10px;
}

.lineNumbers-viewer {
    width: 30px;
    color: rgb(142, 141, 141);
    /* background: #c4c3c362; */
    text-align: center;
    padding-top: 10px;
}

.enter,
input {
    height: 30px;
    cursor: pointer;
    padding-left: 5px;
    background: #efefef;
}

.highlight {
    color: wheat;
    height: 50px;
}

.hljs-tag,
.hljs-name,
.hljs-string,
.hljs-keyword {
    color: white;
}

.div-viewer {
    height: 50px;
    color: rgb(185, 178, 168);
    /* padding-top: 5px; */
}

.hljs {
    position: relative;
    right: 130px;
    padding: 0;
}

.div-viewer:last-child {
    position: relative;
    top: -30px;
    right: 120px;
}
