* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    width: 100vw;
}
.container {
    display: flex;
    /* min-width: 1024px; */
    min-height: 100vh;
    overflow-x: hidden;
    /* overflow-y: hidden; */
    width: 100vw;
    /* height: calc(100vh - 90px); */
    background: #2e2a23;
}

.section {
    /* width: 100vw; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    padding: 20px;
}

.level-container {
    min-width: 400px;
    /* flex-grow: 0.3; */
    background-color: #1b1813;
    /* height: 100vh; */
}
.close {
    padding-left: 30px;
    min-width: 400px;
    color: #888;
    font-size: 30px;
    display: none;
}

.open {
    padding-left: 30px;
    min-width: 325px;
    display: block;
}

.highlight {
    background-color: yellow;
}
.navbar-open {
    /* background: white; */
    display: none;
}

.hide {
    /* background: white; */
    display: none;
}

.table-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    min-width: 350px;
    background-color: yellow;
    margin-bottom: 10px;
    transform: perspective(600px) rotateX(20deg);
    opacity: 1;
}

.help {
    background: none;
    cursor: pointer;
    border-bottom: black 1px solid;
}

@keyframes dance {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1) translate(5px, -5px);
    }
}

plate {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 10px;
    background-color: white;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2), inset 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.dance {
    animation: dance 1s infinite;
}

/* plate:hover {
    box-shadow: 0px 0px 36px rgba(85, 79, 79, 0.695);
} */

/* coconut:hover,
apple:hover,
tomato:hover,
potato:hover {
    box-shadow: 0px 0px 5px rgba(85, 79, 79, 0.695);
} */

coconut {
    margin-right: 10px;
    margin-left: 10px;
    background: url('./img/coconut.png') center/cover no-repeat;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
apple {
    margin-right: 10px;
    margin-left: 10px;
    background: url('./img/apple.png') center/cover no-repeat;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

tomato {
    margin-right: 10px;
    margin-left: 10px;
    background: url('./img/tomato.png') center/cover no-repeat;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

potato {
    margin-right: 10px;
    margin-left: 10px;
    background: url('./img/potato3.png') center/cover no-repeat;
    width: 50px;
    height: 50px;
}

.big {
    width: 90px;
    height: 90px;
}
.light-on {
    box-shadow: 0px 0px 36px rgba(85, 79, 79, 0.695);
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.buttonWrapper {
    display: flex;
}

.prevLvl,
.nextLvl,
.navbar-menu {
    width: 50px;
    height: 50px;
    font-size: 24px;
    background: none;
    cursor: pointer;
    color: #888;
}

.lvl-discription {
    display: block;
    /* width: 400px; */
    padding-left: 50px;
    color: #888;
}

.lvlInfo {
    color: #888;
}

.input-container {
    display: flex;
    /* height: 350px; */
    width: 550px;
    margin-bottom: 10px;
}
.input-wrapper {
    width: 50%;
    background: #efefef;
    height: 410px;
}

.viewer-wrapper {
    width: 50%;
    background: #2b2b2b;
}
/* 
.footer {
    background-color: #2e2a23;
    height: 90px;
    width: 100vw;
} */

h2 {
    font-size: 20px;
}

.hljs-section {
    color: rgb(185, 178, 168);
}

.light-on-text {
    color: white;
}

.modal {
    position: absolute;
    top: 25%;
    left: 30%;
    background-color: white;
    padding: 10px;
    border: 1px solid black;
}

.input-wrapper-header {
    display: flex;
    height: 30px;
    justify-content: space-around;
    column-gap: 100px;
    align-items: center;
    background-color: #49463f;
}

.input-wrapper-main,
.viewer-wrapper-main {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.viewer-wrapper-main {
    flex-wrap: wrap;
}

.lineNumbers {
    width: 30px;
    background: #c4c3c362;
    text-align: center;
    padding-top: 10px;
}

.lineNumbers-viewer {
    width: 30px;
    color: rgb(142, 141, 141);
    /* background: #c4c3c362; */
    text-align: center;
    padding-top: 10px;
}

.enter,
input {
    height: 30px;
    cursor: pointer;
    padding-left: 5px;
    background-color: #efefef;
    outline: none;
}
.help:focus {
    outline: none;
}
@keyframes input {
    50% {
        background-color: rgb(154, 248, 248);
    }
}

input {
    animation: input 0.5s infinite;
}
.input-text {
    position: relative;
    left: 50px;
    bottom: 330px;
    color: #aaaaaa;
    /* width: 100px;
    height: 100px; */
}

.hljs-tag,
.hljs-name,
.hljs-string,
.hljs-keyword {
    color: white;
}

.div-viewer {
    /* height: 50px; */
    color: rgb(185, 178, 168);
}

.highlight {
    color: wheat;
    /* height: 50px; */
    /* position: relative;
    right: 130px;
    padding: 0; */
}

.div-viewer:last-child {
    /* position: relative;
    bottom: 280px;
    left: 30px; */
}
